 
  @if(load){
    <div
    class="d-flex justify-content-center align-items-center position-fixed top-0 start-0 w-100 h-100 bg-light"
    style="z-index: 1050; opacity: 0.8;"
  >
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  }
 


<nav class="navbar bg-light p-2 ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tu noticia de hoy</a>
  </div>
</nav>
<div class="all p-5 ">
  <div class="container-fluid mt-4 bg-light" style="max-width: 100vw; overflow-x: auto;">
  
    <div  class="row mb-5 align-items-center">

      @for (noticia of noticiasPaginadas(); track $index) {
        @defer  {

        
      <div class="col-md-5 ">
        <img [src]="noticia.urlToImage || 'https://via.placeholder.com/500x300'" class="img-fluid rounded shadow-sm" alt="Imagen noticia">
      </div>
      <div class="col-md-7">
        <h4>{{ noticia.title }}</h4>
        <p>{{ noticia.description }}</p>
        <p><small class="text-muted">Publicado: {{formatDate( noticia.publishedAt)  }}</small></p>
        <div class="d-flex align-items-center mt-3">
          <img [src]="noticia.autorFoto" class="autor-img me-2 rounded-circle" alt="Autor">
          <div>
            <strong>{{ noticia.author || 'Autor desconocido' }}</strong><br>
            <a [href]="noticia.url" target="_blank" class="btn btn-info">Ver noticia completa</a>
          </div>
        </div>
      </div>
      <hr class="mt-4">
    }@loading {
      <img alt="loading..." src="loading.gif" />
    }
    }
    <div class="container-fluid mt-4 bg-light" style="max-width: 100vw; overflow-x: auto;">
      <div class="d-flex justify-content-center ">
        <button (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1" class="btn btn-primary mx-2">
          << Anterior
        </button>
        
        <button (click)="currentPage = currentPage + 1" [disabled]="currentPage * pageSize >= noticias.length" class="btn btn-primary">
         Siguiente >>
        </button>
      </div>
    </div>
    
  </div>
  
</div>
  
<router-outlet />
